<%- include('./base/header.ejs') %>
<div class="container">
    <div class="alert bg-success my-3">
        <h4 class="text-center " style="color: white;">Add New Student </h4>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <form action="/add/student" method="post">
                <div>
                    <label for="" class="form-lable">Roll No. </label>
                    <input type="text" name="rollNo" class="form-control">
                </div>
                <div>
                    <label for="" class="form-lable" > First Name </label>
                    <input type="text" name="firstName" class="form-control">
                </div>
                <div>
                    <label for="" class="form-lable">Last Name </label>
                    <input type="text" name="lastName" class="form-control">
                </div>
                <div>
                    <label for="" class="form-lable"> Father Name</label> </label>
                    <input type="text" name="fatherName" class="form-control">
                </div>
                <div>
                    <label for="" class="form-lable">Adhar Number</label>
                    <input type="text" name="adharCard" class="form-control">
                </div>
                <div>
                    <label for="" class="form-lable"> Mobile Number</label> </label>
                    <input type="text" name="mobileNo" class="form-control">
                </div>
                <input type="submit" value="submit" class="btn btn-warning my-3 w-100">
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<%- include('./base/footer.ejs') %>